<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New post</title>
    <link rel="stylesheet" type="text/css" th:href="@{/basic.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<p th:text="'User '+${user.name}+' is logged in'"></p>
<h1>Create new post</h1>
<form action="#" th:action="@{/create-post/user={userId}(userId=${user.getUserId()})}" th:method="POST">
    <label>Description</label>
    <label>
        <input type="text" placeholder="write title here" name="title">
    </label>
    <label>url</label>
    <label>
        <input type="text" placeholder="write url here" name="url">
    </label>
    <button th:type="submit">confirm</button>
</form>
<form th:action="@{/posts/user={userId} (userId=${user.getUserId()})}" th:method="GET">
    <button th:type="submit">return</button>
</form>
</body>
</html>