<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single post</title>
    <link rel="stylesheet" type="text/css" th:href="@{/basic.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<p th:text="'User '+${user.name}+' is logged in'"></p>
<h1>Single post overview</h1>
<table>
    <tr>
        <td>post Id</td>
        <td>actual score</td>
        <td>title</td>
        <td>url</td>
        <td>date</td>
        <td>added by</td>
    </tr>
    <tr>
        <td th:text="${post.postId}"></td>
        <td th:text="${post.score}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.url}"></td>
        <td th:text="${post.creationDate}"></td>
        <td th:text="${post.user.name}"></td>
    </tr>
</table>
<form th:action="@{/posts/user={userId} (userId=${user.getUserId()})}" th:method="GET">
    <button th:type="submit">return</button>
</form>
</body>
</html>