HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/java/com/greenfoxacademy/backedapi/controllers/HelloController.java
/src/main/java/com/greenfoxacademy/backedapi/controllers/SecondMainController.java
/src/main/java/com/greenfoxacademy/backedapi/controllers/TopicController.java
/src/main/java/com/greenfoxacademy/backedapi/models/Topic.java
/src/package.json
/src/until4.json
/src/until7.json

