<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show single Todo</title>
</head>
<body>
    <h1>Single todo overview :</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>isUrgent</th>
            <th>isDone</th>
            <th>creation date</th>
            <th>updated date</th>
        </tr>
        <tr>
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.isDone}"></td>
            <td th:text="${todo.isUrgent}"></td>
            <td th:text="${todo.createDateTime}"></td>
            <td th:text="${todo.updatedDateTime}"></td>
        </tr>
    </table>
<form action="#" th:action="@{/todo/}" th:method="GET">
    <button th:type="submit">return</button>
</form>
</body>
</html>