<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Web Shop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}"/>
    <meta charset="utf-8"/>
</head>

<header>
    <h1>My Web Shop</h1>
    <nav>
        <button type="button" class="btn btn-danger"><a th:href="@{/only-available}">ONLY AVAILABLE</a></button>
        <button type="button" class="btn btn-danger"><a th:href="@{/cheapest-first}">CHEAPEST FIRST</a></button>
        <button type="button" class="btn btn-danger"><a th:href="@{/contains-nike}">CONTAINS NIKE</a></button>
        <button type="button" class="btn btn-danger"><a th:href="@{/average-stock}">AVERAGE STOCK</a></button>
        <button type="button" class="btn btn-danger">MOST EXPENSIVE AVAILABLE</button>
        <button type="button" class="btn btn-danger"><a th:href="@{/showAllItems}">ALL ITEMS</a></button>
    </nav>
    <h2>Shop average:<a th:text="${averageOnStock}"></a></h2>
</header>

<body>


</body>

</html>