<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Own CSS -->
    <link href="/style.css" rel="stylesheet">

    <title>Programmers FoxClub</title>

</head>

<body>
<h1>Hello, new user!</h1>
<h2 th:if="${message}" th:text="${message}"></h2>
<form th:action="@{/register}" th:method="POST" th:object="${user}">
    <label>Please, provide us</label>
    <label>Your name</label>
    <label for="username">
        <input type="text" placeholder="name" name="username" id="username" th:field="*{username}">
    </label>
    <label>and your password</label>
    <label for="password">
        <input type="password" placeholder="password" name="password" id="password" size="15" th:field="*{password}">
    </label>
    <label for="confirmed_password">
        <input type="password" placeholder="confirm password" name="confirmed_password" id="confirmed_password"
               size="15">
    </label>
    <button type="submit">Confirm</button>
</form>
<form th:action="@{/user-login}">
    <label>Return back to login page</label>
    <button type="submit">GO</button>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>